{% extends 'base.html' %}

{% block content %}
<form class="form-inline">
<input type="hidden" name="messages" value="{{messages}}">
<div class="w-50 h-50 col-md-8 offset-md-3 overflow-auto">
    <ul class="list-group" id="messages">
      {% for msg in messages %}

        <li class="list-group-item">
          <a>
          <div class="">
            <span class="text-muted">{{ msg.incident_datetime}}</span>
            <p>{{ msg.incident_category }}</p>
            <p>{{ msg.incident_description }}</p>
            <p>{{ msg.analysis_neighborhood }}</p>
            <p>{{ msg.intersection }}</p>
          </div>

      {% endfor %}
    </ul>
    <label for="name"> Please Name your watch if want to save it: </label>
    <input type="text" name="name" >

      <button class="btn btn-warning" formaction="/users/save_search" formmethod="post" > Save watch</button>
      <button class="btn btn-danger" formaction="/home" formmethod="get">Home</button>
    </form>
  </div>
{% endblock %}