{% extends 'base.html' %}

{% block content %}



<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">{{ g.user.username }}</h4>
    <p>{{g.user.email}}</p>
    <p class="profile_image">Image: <img src="{{g.user.image_url}}" alt=""></p>
    <p class="user-location"><span class="fa fa-map-marker"></span>{{g.user.location}}</p>
  </div>

  {% block user_details %}
  {% endblock %}

</div>

  
  <form class="form-inline">
    <button class="btn btn-warning" formaction="/users/edit" formmethod="get" > Edit User Profile</button>
    <button class="btn btn-danger" formaction="/users/delete" formmethod="post" >Delete Profile</button>
  </form>

{% endblock %}